<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inserir nou llibre</title>
</head>
<body>
    <center>
        <H1>Inserció de nou llibre</H1>
        <div th:if="${message}" th:text="${message}" 
             th:style="${llibreErr} ? 'color: red' : 'color: green'"></div>
        <form action="/inserir" method="post">
            Titol: <input type="text" name="titol" required><br><br>
            Autor: <input type="text" name="autor" required><br><br>
            Editorial: <input type="text" name="editorial" required><br><br>
            Data de publicacio: <input type="text" name="datapublicacio" placeholder="dd/mm/yyyy" required pattern="\d{2}/\d{2}/\d{4}"><br><br>
            Tematica: <input type="text" name="tematica" required><br><br>
            ISBN: <input type="text" name="isbn" required><br><br>
            <input type="submit" value="Desar">
        </form>
        <p><a href="/index">Tornar enrere</a></p>   
    </center>
</body>
</html>